body {
    font-family: "Aptos", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0F4761;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header .logo {
    max-width: 150px;
    margin: 0 auto 10px;
    display: block;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

h1, h2 {
    color: #0F4761;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

ul {
    list-style: disc inside;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

a {
    color: #0F4761;
    text-decoration: none;
}
